.title {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}
.img-table-position {
}
.img-thumbnail-table {
    float:left;
    width: 70px;
    height:70px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding: 0.25rem;
    background-color: #f8fafc;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}
